@font-face {
	font-display: fallback;
	font-family: SuisseIntl;
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/SuisseIntl-Regular-WebS.woff2') format('woff2'),
		url('/fonts/SuisseIntl-Regular-WebS.woff') format('woff');
}

@font-face {
	font-display: fallback;
	font-family: SuisseIntl;
	font-style: italic;
	font-weight: 400;
	src: url('/fonts/SuisseIntl-RegularItalic-WebS.woff2') format('woff2'),
		url('/fonts/SuisseIntl-RegularItalic-WebS.woff') format('woff');
}

@font-face {
	font-display: fallback;
	font-family: SuisseIntl;
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/SuisseIntl-Medium-WebS.woff2') format('woff2'),
		url('/fonts/SuisseIntl-Medium-WebS.woff') format('woff');
}

@font-face {
	font-display: fallback;
	font-family: SuisseIntl;
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/SuisseIntl-SemiBold-WebS.woff2') format('woff2'),
		url('/fonts/SuisseIntl-SemiBold-WebS.woff') format('woff');
}

@font-face {
	font-display: fallback;
	font-family: SuisseIntl;
	font-style: italic;
	font-weight: 600;
	src: url('/fonts/SuisseIntl-SemiBoldItalic-WebS.woff2') format('woff2'),
		url('/fonts/SuisseIntl-SemiBoldItalic-WebS.woff') format('woff');
}

@font-face {
	font-display: fallback;
	font-family: SuisseIntl;
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/SuisseIntl-Bold-WebS.woff2') format('woff2'),
		url('/fonts/SuisseIntl-Bold-WebS.woff') format('woff');
}

@font-face {
	font-display: fallback;
	font-family: SuisseIntlMono;
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/SuisseIntlMono-Regular-WebS.woff2') format('woff2'),
		url('/fonts/SuisseIntlMono-Regular-WebS.woff') format('woff');
}

@font-face {
	font-display: fallback;
	font-family: SuisseIntlMono;
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/SuisseIntlMono-Bold-WebS.woff2') format('woff2'),
		url('/fonts/SuisseIntlMono-Bold-WebS.woff') format('woff');
}

img,
svg {
	vertical-align: middle;
}

@media (prefers-color-scheme: dark) {
}
