---
import Tour from '../components/Tour.astro'
import { Test } from '../components/Test.tsx'
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Meno-paluu tulevaisuuteen</title>
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<style global>
			@import '@vr-core/web-components/normalize.css';
			@import '@vr-core/web-components/css/button.module.css';
			@import '../styles/global.css';

			:root {
				--default-icon-color: var(--color-green08);
			}

			body {
				padding: 2rem 1rem;
			}

			main {
				max-width: 50rem;
				margin: auto;
				min-height: 100vh;
			}
		</style>
	</head>
	<body>
		<main>
			<Test client:load />
			<h1>Hepskukkuu!</h1>
			<p>Hei meillä on joku sivu.</p>
			<button class="button green10Button" type="button">Nappula</button>
		</main>
	</body>
</html>
