---
import { Article } from './index.tsx'
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="robots" content="noindex,nofollow" />
		<title>Meno-paluu tulevaisuuteen</title>
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<style global>
			@import '@vr-core/web-components/normalize.css';
			@import '@vr-core/web-components/css/button.module.css';
			@import '../styles/global.css';

			:root {
				--default-icon-color: var(--color-green08);
			}

			body {
				padding: 2rem 1rem;
			}

			main {
				margin: auto;
				min-height: 100vh;
			}

			.visually-hidden {
				clip: rect(1px 1px 1px 1px);
				height: 1px;
				opacity: 0.01;
				overflow: hidden;
				position: absolute;
				width: 1px;
				white-space: nowrap;
				z-index: -1;
			}
		</style>
	</head>
	<body>
		<main>
			<Article />
		</main>
	</body>
</html>
